<launch>
  <arg name="bag_filename" default="$(find jetbot_slam)/b/my_data.bag"/>
  <arg name="use_sim_time" value="true"/>
  <arg name="scan_topic" value="/scan"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam>
        particles: 50
    </rosparam>
    <remap from="scan" to="$(arg scan_topic)" />
  </node>

  <node name="playbag" pkg="rosbag" type="play"
		args="--clock -r 1.0 $(arg bag_filename)" />
  
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find jetbot_slam)/rviz/gmapping.rviz" />
</launch>
