<?xml version="1.0"?>
<robot name="jetbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find jetbot_description)/urdf/common.xacro" />
  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find jetbot_description)/urdf/jetbot.gazebo" />
  <xacro:include filename="$(find jetbot_description)/meshes/sensor/hokuyo.urdf.xacro"/>
  <xacro:include filename="$(find jetbot_description)/meshes/imu.urdf.xacro"/>

  <!-- chassis dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="mass" value="1.0" /> <!-- mass body-->
  <xacro:property name="width" value="0.05" /> <!-- Link 1 -->
  <xacro:property name="height" value="0.03" /> <!-- Link 1 -->
  <xacro:property name="length" value="0.10" /> <!-- Link 1 -->

  <!-- wheel dimensions -->
  <xacro:property name="wheel_mass" value="0.1" /> <!-- mass wheel -->
  <xacro:property name="wheel_radius" value="0.03" /> <!-- radius -->
  <xacro:property name="wheel_width" value="0.01" /> <!-- wheel --> 

  <xacro:property name="camera_link" value="0.01" /> <!-- Size of square 'camera' box -->
  <xacro:property name="axel_offset" value="0.05" /> <!-- Space btw top of beam and the each joint -->

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <!-- base_footprint Definition -->
  <link name="base_footprint" />

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint" />
    <child  link="base_link" />
    <origin xyz="0.0 0.0 0.030"/>
  </joint>

  <!-- Base Link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	      <mesh filename="package://jetbot_description/meshes/DAE/JetBot-v3-Chassis444.dae"/>
      </geometry>
      <material name="white"/>
    </visual>

    <collision>
      <origin xyz="-0.03 0 0.03" rpy="0 0 0"/>
      <geometry>
	<box size="${length} ${width} ${height}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${mass}" />
      <origin xyz="-0.06 0 0.04" rpy="0 0 0" />
      <xacro:box_inertia m="${mass}" x="${length}" y="${width}" z="${height}" />
    </inertial>

  </link>

  <!-- right_wheel and joint-->
  <xacro:wheel_macro parent="base_link" prefix="right_wheel" xyz="0 -0.053 0" color="black"/>

  <!-- left_wheel and joint-->
  <xacro:wheel_macro parent="base_link" prefix="left_wheel" xyz="0 0.047 0" color="orange"/>

  <!-- caster joint-->
  <joint name="caster_0_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_0"/>
    <origin rpy="0 0 0" xyz="-0.08 0 -0.018"/>
  </joint>

  <!-- caster -->
  <link name="caster_0">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
    </collision>

      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.1" />
        <xacro:sphere_inertia  m="0.1" r="0.012" />
      </inertial>

  </link>

  <!-- Camera joint-->
  <joint name="camera_joint" type="fixed">
    <axis xyz="0 0 1" />
    <origin xyz="0.025 0 0.06" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>

  <!-- Camera -->
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<box size="${camera_link} ${camera_link} ${camera_link}"/>
      </geometry>
      <material name="red"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<box size="${camera_link} ${camera_link} ${camera_link}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <xacro:box_inertia m="0.1" x="${camera_link}" y="${camera_link}" z="${camera_link}" />
    </inertial>

  </link>

  <!-- Laser link and plugin -->
  <xacro:hokuyo_laser xyz="0 0 ${0.04 + 0.02}" 
	  rpy="0 0 0"
	  parent="base_link" length="0.01" radius="0.015">
  </xacro:hokuyo_laser>
	  
  <!--  imu sensor -->
  <xacro:imu_macro xyz="0 0 ${0.04 + 0.02}"
	  parent="base_link" prefix="imu_sensor">
  </xacro:imu_macro>
  
</robot>
